html{
    background-color:#313231;
}

h1{
    text-align: center;
}
div{
    background-color:#EFEDE6;
    width: 100%;
    height:400px;
}
div.floatleft{
    float: left;
    width:70%;
}
#fl{
    float:left;
}
div.floatright{
    float:left;
    width:30%;
    
}